<div class="nav-links-wrapper">
  <div class="nav-links">
    {% if page.publications.patents %}<a
      target="_blank"
      href="{{ page.publications.patents }}"
      >[patents]</a
    >{% endif %} {% if page.publications.papers %}<a
      target="_blank"
      href="{{ page.publications.papers }}"
      >[papers]</a
    >{% endif %} {% if page.press %}<a href="{{ page.press }}">[press]</a>{%
    endif %} {% if page.linkedin %}<a target="_blank" href="{{ page.linkedin }}"
      >[linkedin]</a
    >{% endif %}{% if page.github %}<a target="_blank" href="{{ page.github }}"
      >[github]</a
    >{% endif %} {% if page.threads %}<a
      target="_blank"
      href="{{ page.threads }}"
      >[threads]</a
    >{% endif %}{% if page.x %}<a target="_blank" href="{{ page.x }}">[x]</a>{%
    endif %}
  </div>
</div>
