---
layout: default
---

<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<h3>my work in the news</h3>
<p>
  at PayPal, i worked on enabling solutions for its most stretegic partnerships.
  when i wasn't doing that i was working on the cutting-edge of blockchain in
  its Innovation Lab. at Meta, i work on WhatsApp, which has a far reaching
  impact - 3 billion users (yes, billion) across the globe.
</p>
<p>
  because of the far-reaching impact, projects like these garner public interest
  and thus, more often than not, make headlines. here's a list of articles by
  newsoutles and other media that mentions me or my work. the list is not
  exhaustive and may not include every article that has been published on the
  said projects.
</p>

<h4>PayPal</h4>
{%-include menu_item.html collection=site.data.menu.entries-%} {{ content }}

<h4>WhatsApp/Meta</h4>
{%-include menu_item.html collection=site.data.menu.entries-%} {{ content }}
<hr />

{%-include footer.html-%}
