---
layout: post
---

<h2>In the press</h2>
<p>
  In my career thus far, I have often had the opportunity to work on projects
  that are either inherently complex or carry an out-sized impact - or
  sometimes, both. Here’s a non-exhaustive list of articles by news outles and
  other media that mentions me or my work.
</p>
<ul>
  <li><a href="#whatsapp">WhatsApp</a></li>
  <li><a href="#paypal">PayPal</a></li>
  <li>
    <a href="#external">Mentoring, Industry Engagements & Panels</a>
  </li>
</ul>
<h3 class="press-section-header" id="whatsapp">
  <a href="#whatsapp">WhatsApp</a>
</h3>
<p>
  <em>2021 - current</em> · At Meta, I work on WhatsApp, which has a
  far-reaching impact - 3 billion users (yes, billion) across the globe.
</p>
{%-include menu_item.html collection=site.data.menu.whatsapp_entries-%}
<h3 class="press-section-header" id="paypal"><a href="#paypal">PayPal</a></h3>
<p>
  <em>2015 - 2021</em> · At PayPal, I worked on enabling solutions for its most
  stretegic partnerships. When I wasn’t doing that, I was working on the
  cutting-edge of blockchain and cryptocurreny in its Innovation Lab.
</p>
{%-include menu_item.html collection=site.data.menu.paypal_entries-%}
<h3 class="press-section-header" id="external">
  <a href="#external">Mentoring, Industry Engagements & Panels</a>
</h3>
<p>
  <em>2016 - current</em> · Over the years, I have built deep expertise in
  domains like payments, large-scale software and system design, blockchain and
  cryptocurrencies. I like to find time from my day-to-day to give back to the
  industry in form of 1:1 or group coaching, peer reviews and feedback or by
  sharing my insights from the industry as part of a judging panel.
</p>
{%-include menu_item.html collection=site.data.menu.external_entries-%}
{%-include footer.html-%}
